.result-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 10px;
  padding: 30px 20px;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  background-color: #32db8f87;
  padding: 5px 0;
}

.main-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.theme.dark .card-container {
  background-color: #38107e87;
}

.result-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  /* font-size: 20px; */
  background-color: rgba(100, 148, 237, 0.604);
  border-radius: 7px;
  flex-grow: 1;
  margin-top: 7px;
}

.theme.dark .result-empty {
  background-color: rgba(119, 8, 114, 0.604);
}

.result-empty-text {
  font-size: 3rem;
  color: #fff;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  padding: 30px 20px;
}

.result-controls {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 10px;
  /* padding: 30px 20px;
    flex-direction: row; */
}

.result-controls-text {
  font-size: 1.8rem;
  font-weight: 800;
  color: #569a0e;
  padding: 0;
  margin: 0;
}

.theme.dark .result-controls-text {
  color: #c7d40c;
}

.container-autors {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.card-title {
  flex-basis: 40%;
}

.card-title,
.card-autor {
  font-size: 1.3rem;
  font-weight: 800;
  color: #569a0e;
  padding: 0;
  margin: 0;
}


.book-cover {
  width: 100px;
  height: 150px;
  object-fit: contain;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.details * {
  font-size: 1.2rem;
  color: maroon;
}

.text-details {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
}

.text-details p {
  white-space: wrap;
}